body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg.png') no-repeat center center fixed;
    background-size: cover;
}

header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left:2.5%;
    
}

ul {
    list-style: none;
    display: flex;
    right:auto;
    margin-right: 100%;
    
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color:white;
}

/* .border {
    width: 100%;
    border-top: 1px solid #fff;
} */

.main-content {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    color: #fff; /* Text color for better visibility on the image */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    outline: #fff solid 1px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.about {
    padding: 40px;
    color: #333; /* Text color for the section with background image */
    position: absolute;
    top : 62%;
    color : black;
    margin:0;
}

.about-head{
    color:Blue
    
}

.about-text {
    /* position: absolute;
    top: 400px; /* Adjust the top value to position the text vertically */
    /* left: 200px; /* Adjust the left value to position the text horizontally */
    /* color: #333; /* Text color for visibility */
    /* font-size: 24px; */ 
    color:#333;
    max-width: 45%;
}
h2 {
    font-size: 24px;
    color: #fff;
}

/* Add more CSS for other styles as needed */
